body {
  background-color: #eaeaea;
  padding: 30px;
}
h1 {
  text-align: center;
  padding: 25px;
  background-color: green;
  border-radius: 20px;
  color: #fff;
}
main {
  display: flex;
  justify-items: center;
  gap: 40px;
}
aside {
  padding: 14px 15px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 450px;
  font-size: 20px;
  height: 100%;
  border-radius: 10px;
}
select {
  font-size: 18px;
}
/* Gaya untuk container kartu (grid) */
#packages {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

/* Gaya untuk setiap kartu */
.package {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek ketinggian */
  padding: 20px;
  width: 250px;
}

/* Gaya untuk gambar pada kartu */
.package img {
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

/* Gaya untuk judul pada kartu */
.package h2 {
  margin-top: 0;
}

/* Gaya untuk deskripsi pada kartu */
.package p {
  margin-bottom: 0;
}

.price {
  display: flex;
  flex-direction: column;
}

.price label {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
}

.reset {
  width: 100px;
}
span {
  font-size: 20px;
  color: red;
  margin: auto;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}
